<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>

<script src="/js/leaflet-gplaces-autocomplete.js"></script>
<link rel="stylesheet" href="/css/leaflet-gplaces-autocomplete.css" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTQM0OAKfPQP8IYRjEvL8fthq6MIk9Me8&libraries=places"></script>


<div id="mapid" style="width: 540px; height: 480px;"></div>

<script>

  function map_mark(latlng) {

    locationMark.setLatLng(latlng).addTo(mymap);

    map_mark_store(latlng);

    $('.leaflet-gac-control').val('');
  }

  function map_mark_store(loc) {
    console.log(loc);
    $(loc_field).val(loc.lat + ',' + loc.lng);
  }

  function onLocationFound(e) {
    var radius = e.accuracy / 2;

    L.circle(e.latlng, radius).addTo(mymap);

    map_mark(e.latlng);
  }

  function onLocationError(e) {
    alert(e.message);
  }

  function onMapClick(e) {
    map_mark(e.latlng);
  }

var mymap, latlng, locationMark;

$(document).ready(function() { // onload

  mymap = L.map('mapid').fitWorld();

  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWF5ZWwiLCJhIjoiY2oybTJwMGV0MDAxcTMzcW5xZng3NGMwaiJ9.76-N3Xrxhp4AkqONtrXjuw', {
    minZoom: 1,
    maxZoom: 18,
    attribution: 'Map data &copy; ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> ' +
      ' <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(mymap);

  locationMark = L.marker();

  mymap.on('click', onMapClick);

  mymap.on('locationfound', onLocationFound);
  mymap.on('locationerror', onLocationError);

  mymap.locate({
    setView: true,
    maxZoom: 16
  });

  new L.Control.GPlaceAutocomplete({
      position: "topright",
      callback: function(location) {
        //console.log(location); // object of google place is given

        latlng = L.latLng([
          location.geometry.location.lat(),
          location.geometry.location.lng()
        ]);

        mymap.panTo(latlng);

        locationMark.setLatLng(latlng).addTo(mymap);

        map_mark_store(latlng);

        mymap.fitBounds([
          [location.geometry.viewport.getSouthWest().lat(),
            location.geometry.viewport.getSouthWest().lng()
          ],
          [location.geometry.viewport.getNorthEast().lat(),
            location.geometry.viewport.getNorthEast().lng()
          ]
        ]);

      }
    })
    .addTo(mymap);

  if(loc && loc.lat && loc.lng){
    mymap.panTo(loc);
    map_mark(loc); // pin existing location
  }

});
</script>
