<a class='taxonomy btn btn-info' href='/taxonomy' class='btn btn-info'>Browse the Taxonomy</a>

<div id='taxonomy_modal' class='modal fade' role='dialog'>
  <div class='modal-dialog modal-lg' style="min-width:98%;">
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Taxonomy</h4>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
      </div>

      <div class='modal-body' style="overflow-y: show;">
        <div class='taxonomy-wrapper'>
          <iframe id='taxonomy_browse' width='100%' height='1000' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('a.taxonomy').click(function() {
    var item = $('select.fieldtype-Tag option:last').val();
    var src = '/taxonomy_browser?iframe';
    $("#taxonomy_browse").attr('src', src);
    $('#taxonomy_modal').modal('show');
    return false;
  });

</script>
