{% extends "layout.html.twig" %}


{% block content %}

<div class="col-md-4">

{% include 'build/q_nav.html.twig' with {'questionnaires_list': questionnaires_list, 'q_nav_url': '/admin/responses/'} %}

  <h2>Welcome!</h2>

  <p>
    Hello
    {{name}}
  </p>

{% include 'build/q_nav.html.twig' with {'questionnaires_list': questionnaires_list, 'q_nav_url': '/q/', 'q_nav_title' : 'View Questionnaire'} %}

</div>

{% endblock %}
