{% extends "base.html.twig" %}

{% block stylesheets %}
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

  <link href="{{ asset('css/main.css?v3') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js"></script>

  {% if custom_scripts is defined %}
    {{custom_scripts|raw}}
  {% endif %}

  <script src="{{ asset('js/scripts.js?v3.4') }}"></script>
{% endblock %}

{% block body %}

  <div class="container-fluid contain-all">
    {% block content %}{% endblock %}
  </div>

{% endblock %}
